*.DS_Store
*~

*.log

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/*.txt
/doc/manual.lab
/doc/manual.six

/doc/tutorial/*.aux
/doc/tutorial/*.bbl
/doc/tutorial/*.blg
/doc/tutorial/*.brf
/doc/tutorial/*.css
/doc/tutorial/*.html
/doc/tutorial/*.idx
/doc/tutorial/*.ilg
/doc/tutorial/*.ind
/doc/tutorial/*.js
/doc/tutorial/*.log
/doc/tutorial/*.out
/doc/tutorial/*.pdf
/doc/tutorial/*.pnr
/doc/tutorial/*.tex
/doc/tutorial/*.toc
/doc/tutorial/*.txt
/doc/tutorial/manual.lab
/doc/tutorial/manual.six
/doc/tutorial/mybib.xml.bib

/pdfdoc/

/gh-pages/
/tmp/
