*.DS_Store
*~

*.log

/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.html
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.pnr
/doc/*.tex
/doc/*.toc
/doc/*.txt
/doc/manual.lab
/doc/manual.six

/tutorial/*.aux
/tutorial/*.bbl
/tutorial/*.blg
/tutorial/*.brf
/tutorial/*.css
/tutorial/*.html
/tutorial/*.idx
/tutorial/*.ilg
/tutorial/*.ind
/tutorial/*.js
/tutorial/*.log
/tutorial/*.out
/tutorial/*.pdf
/tutorial/*.pnr
/tutorial/*.tex
/tutorial/*.toc
/tutorial/*.txt
/tutorial/manual.lab
/tutorial/manual.six
/tutorial/mybib.xml.bib

/pdfdoc/

*.tar

/gh-pages/
/tmp/
