<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: rgb(204, 255, 255);;
}
body, h1, h2, h3, h4, div, p, center, math {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:23px;line-height:1.30769231;
  color: rgb(0, 0, 053);
}
math {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:13px;line-height:1.30769231;
}
h1, h2 ,h3, h4 {
  color: rgb(0, 0, 053);
  text-align: center;
}
div, p, center {
  color: rgb(0, 0, 053);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
  margin-left: 50px;
}
p, center {
  background-color: white;
}
div {
  background-color:rgb(255, 255, 234);
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: white;
  color: rgb(0, 0, 053);
}

.next {
  background-color: white;
  color: rgb(0, 0, 053);
</style>
</head>


