BODY {
	PADDING-RIGHT: 40px;
        PADDING-LEFT: 40px;
	PADDING-BOTTOM: 40px;
	PADDING-TOP: 40px;
	font-family: sans-serif;
	Background-color: #ccffff;
	Color: #000066;
}
#content {
	PADDING-TOP: 3px; 
	PADDING-LEFT:1em;
      PADDING-RIGHT: 1em;
      PADDING-BOTTOM:1em; 
      Margin-bottom: 1em;
      Background-color: #ffffff;
      Color: #000066;
}
DIV.paddingwrap {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
SUB {	font-size : 70%;
}
SUP {   font-size : 70%;
}

H2 {
	 PADDING-TOP: 0em; PADDING-BOTTOM: 1em; Text-Align: center;
}

H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0x; 
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; MARGIN-left: 2em; PADDING-TOP: 0px
}
H3 {
	Text-align:center; 
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2em 1em; PADDING-TOP: 0px
}
CODE {
	font-family: monospace;
	DISPLAY: block; 
	BACKGROUND-COLOR: #dddddd
}

td {
	vertical-align: top; 
 	PADDING-RIGHT: 15px;
	PADDING-LEFT: 15px;
	PADDING-BOTTOM: 15px;
	MARGIN: 0px;
	PADDING-TOP: 15px;
	background-color: rgb(255, 255, 255);
}

pre 
{ 
  font-family: monospace; 
  font-size: 100%; 
  color:#000000; 
  background-color: #dddddd
}

C{
 font-family: monospace;
 BACKGROUND-COLOR: #dddddd
}

a
{
  color: #000066
}

a:visited
{
  color: #000066
}

/* Remove the border around images (so that they don't have a box when they're a link)*/
img
{ 
   border: 0;
}
