BODY {
	PADDING-RIGHT: 0px;
        PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	font-family: sans-serif;
}


#content {
	PADDING-TOP: 1em; 
	PADDING-LEFT:1em;
      PADDING-RIGHT: 1em;
      PADDING-BOTTOM:1em; 
	COLOR: #000066;
}
#title {
	 PADDING-TOP: 10px;
	 TEXT-ALIGN: CENTER;
	 COLOR: #000066;
	 BACKGROUND-COLOR: #ccffff;
}
#navigation {
        PADDING-RIGHT: 4px;
        PADDING-LEFT: 0px;
        PADDING-BOTTOM: 0px;
        MARGIN: 0px;
        PADDING-TOP: 6px;
        COLOR: #000066; 
	BACKGROUND-COLOR: #ccffff;
}
#logo{
      OVERFLOW: hidden; 
      PADDING-TOP: 4px;
      PADDING-LEFT: 10px;
}
#content {
	BACKGROUND: #ffffff
}
DIV.paddingwrap {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; 
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	MARGIN: 0px 0px 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.75em 0px 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2em 1em; PADDING-TOP: 0px
}
CODE {
 	font-family: monospace;
	DISPLAY: block; 
	BACKGROUND-COLOR: #dddddd
}


#navigation li 
{
  width: 110px;
  list-style: none;
  display: block;
  line-height: 22px;
  margin-bottom: 2px;
  background-color: #CCFFFF; 
  float: right;
  padding-right: 3px
}

#navigation li a 
{
  display: block;
  padding: 5px 5px 1px 10px;
  color: #000066;
  background-color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}
#navigation li a:hover 
{
  color: #ccf;
}

#content a:link
{
  color: #000066
}

#content a:visited
{
  color: #000066
}

/* Remove the border around images (so that they don't have a box when they're a link)*/
img
{ 
   border: 0;
}
